@import url('https://fonts.googleapis.com/css2?family=Kufam:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --fontcolor: blue;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Kufam", sans-serif;
    width: 100vw;
    height: 100vh;
    color: var(--fontcolor);
    background-color: bisque;

}

main {
    width: 100%;
    position: relative;
}

.section1 {
    /* width: 500px;
   height: 300px;*/
    margin-top: 50px;
    /* overflow:visible; */
    scroll-margin-top: 100px;
}



header {
    width: 99vw;
    background-color: antiquewhite;
    display: flex;
    border-radius: 15px;
    /*justify-content: center;
    */
    /*align-items: center;
    */
    /*padding: 50px 20px;*/
    margin: 1px auto;
    position: fixed;
    top: 0px;
    /*flex-wrap: wrap-reverse;*/
    z-index: 999;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

header ul {
    display: flex;
    width: 70%;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: auto;

}

header ul li {
    font-size: 28px;
    font-weight: bolder;
    width: 20%;
    background-color: #e6c295f3;
    border-radius: 20px;
    text-align: center;
}

#logo {
    width: 4%;
    border-radius: 50%;
    margin: auto;
}

h1 {
    font-size: 30px;
    margin: auto;
}



a {
    text-decoration: none;
    color: blue;
}

.table1 {
    width: 60%;
    border-collapse: separate;
    border: 5px solid #a3670d9c;
    border-radius: 12px;
    font-size: 25px;
    margin-top: 80px;
    margin-left: 30px;
    /* margin: 0px 50px; */
    /* border: #333 solid 5px; */
    /* border-radius: 25px; */
    /* padding: 10px; */
    table-layout: fixed;

}

.table2 {
    width: 60%;
    border-collapse: separate;
    border: 5px solid #a3670d9c;
    border-radius: 12px;
    font-size: 25px;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 50px;
    /* margin: 0px 50px; */
    /* border: #333 solid 5px; */
    /* border-radius: 25px; */
    /* padding: 10px; */
    table-layout: fixed;

}

.table1 td {
    width: 400px;
    background-color: #a3670d54;
}

.table2 td {
    width: 600px;
    background-color: #a3670d54;
}

.stcolumn {
    width: 100px;
    background-color: chartreuse;
}


.social {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%;
    /* height: 100vh; */
    font-size: medium;
    /* background-color: rgb(213, 228, 129);
    position: absolute;
    bottom: 0px; */

}

.facebook {

    color: blue;
    font-size: 25px;

}

.instegram {

    color: tomato;
    font-size: 25px;

}

.youtube {

    color: red;
    font-size: 25px;

}

a:hover {
    color: rgba(241, 60, 14, 0.76);


}







td {
    /* text-align: left; */
    /* height: 50px; */
    /* vertical-align: bottom; */
    /* margin: 0px; */
    /* padding: 0px; */
    color: red;
}




div.gallery {
    width: 85vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border: #a3670d9c 5px solid;
    margin: 5px;
    margin-left: 30px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

div.gallery-item {
    margin: 5px;
    border: 1px solid #ccc;
    width: 180px;
}

div.gallery-item:hover {
    border: 1px solid #777;
}

div.gallery-item img {
    width: 100%;
    height: auto;
}

div.gallery-item div.desc {
    padding: 15px;
    text-align: center;
}

div.scroll-container2 {
    width: 80vw;
    height: 150px;
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    margin: auto;
}

div.scroll-container2 img {
    padding: 5px;
    width: 100px;
    height: 100px;
    object-fit: cover;
}






/* media */
@media (max-width:390px) {
    header {
        width: 99vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }

    #logo {
        display: none;
    }

    h1 {
        font-size: 15px;
        margin: auto;
    }

    header ul li {
        font-size: 10px;
        width: 80%;
        margin: 5px;

    }

    .table1,
    .table2 {
        width: 100%;
        margin: 1px;
        padding: 1px;
         table-layout: auto;
    }

    .table1 td {
        width: 400px;
        background-color: #a3670d54;
    }

    .table2 td {
        /* width: 600px; */
        background-color: #a3670d54;
    }





}
