@import url('https://fonts.googleapis.com/css2?family=Kufam:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --fontcolor: blue;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Kufam", sans-serif;
    width: 100vw;
    height: 100vh;
    color: var(--fontcolor);
    position: relative;
}

main {
    position: absolute;
    top: 50px;
}

header {
    width: 100vw;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    position: fixed;
    top: 0;
    flex-wrap: wrap-reverse;
    z-index: 999;
}

#logo {
    width: 50px;
    border-radius: 50%;
    padding: 5px;
    margin-left: 5px;
}

h1 {
    text-transform: uppercase;
    color: var(--fontcolor);
}

ul {
    display: flex;
    list-style: none;
    padding-left: 100px;
}

ul li {
    margin-right: 20px;
    font-size: 30px;
    color: var(--fontcolor);
    text-transform: uppercase;
}

a {
    text-decoration: none;
}



.social {
    width: 100%;
    /* height: 100vh; */
    font-size: medium;
    background-color: rgb(213, 228, 129);
    position: absolute;
    bottom: 0px;

}

.div1 .facebook {
    display: inline-block;
    text-decoration: none;
    color: blue;
    font-size: 50px;
    /* background-color: lch(97.38% 1.59 303.07); */
    margin: 0px;
}

.div1 .instegram {
    display: inline-block;
    text-decoration: none;
    color: tomato;
    font-size: 50px;
    /* background-color: lch(97.38% 1.59 303.07); */
    margin: 0px;
}

.div1 .youtube {
    display: inline-block;
    text-decoration: none;
    color: red;
    font-size: 50px;
    /* background-color: lch(97.38% 1.59 303.07); */
    margin: auto;
}

a:hover {
    /* color: rgb(240, 232, 230); */


    animation-duration: 5s;
    animation-name: m;
    animation-timing-function: ease-in;
}

table {
    width: 80vw;
    border-collapse: separate;
    font-size: 25px;
    margin: 15px;
    border: #333 solid 5px;
    border-radius: 25px;
    padding: 10px;
}

h1 {
    margin: 5px;
    padding: 5px;
}

h2 {
    margin: 10px 20px;
    padding: 0px 100px;
}

th {
    width: 300px;
    height: 20px;
}

td {
    text-align: left;
    height: 50px;
    vertical-align: bottom;
    margin: 0px;
    padding: 0px;
}

object {
    width: 100vw;
    height: 100vh;
    margin: auto;
}



#myfram {
    width: 100vw;
    height: 100vh;
    margin: auto;
}

div.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

div.gallery-item {
    margin: 5px;
    border: 1px solid #ccc;
    width: 180px;
}

div.gallery-item:hover {
    border: 1px solid #777;
}

div.gallery-item img {
    width: 100%;
    height: auto;
}

div.gallery-item div.desc {
    padding: 15px;
    text-align: center;
}

div.scroll-container2 {
    width: 80vw;
    height: 100px;
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    margin: auto;
}

div.scroll-container2 img {
    padding: 10px;
    width: 200px;
}

@keyframes m {
    0% {
        transform: scale(1.1);
        background-color: lch(39.79% 112.22 308.88);
    }

    100% {
        background-color: lch(51.72% 92.05 41.63);
    }
}

@media (max-width:900px) {}

@media (max-width:500px) {
    header {
        display: flex;
        justify-content: center;
        margin: 0px;
        flex-direction: column;
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0px;
    }

    li {

        margin: 0px;
    }

    table {
        display: none;
    }
}